<h1 mat-dialog-title>{{data.task.id ? 'Edit Task' : 'Add Task'}}</h1>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.task.title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <ckeditor [(ngModel)]="data.task.description"></ckeditor>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="data.task.status">
      <mat-option value="To Do">To Do</mat-option>
      <mat-option value="In Progress">In Progress</mat-option>
      <mat-option value="Done">Done</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="saveTask()">Save</button>
</mat-dialog-actions>
